/* Container styles */
.container {
  text-align: center;
  padding: 2rem;
  max-width: clamp(30rem, 90vw, 70rem);
  width: 95%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
