/* CreateCalendar page styles */
.title {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
}

.error-message {
  background-color: var(--color-error-background);
  color: var(--color-error-text);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-error-border);
  margin-bottom: var(--spacing-medium);
}

.error-message[role="alert"] {
  animation: fadeIn 0.3s ease-in-out;
}

.clear-data-section {
  display: flex;
  flex-direction: column;
  
  margin-top: var(--spacing-large);
}

.clear-all-btn {
  color: var(--color-accent-light);
  font-weight: 400;
  font-size: 1rem;

  &:focus, 
  &:hover, &:active {
    color: var(--color-accent-dark);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
