#root {
  max-width: clamp(20rem, 90vw, 80rem);
  margin: 0 auto;
  padding: var(--space-lg);
  text-align: center;
}

.logo {
  height: clamp(4rem, 12vw, 6rem);
  padding: var(--space-md);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-primary) / 0.6);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--color-secondary) / 0.6);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--space-lg);
}

.read-the-docs {
  color: var(--color-text-light);
}
