.inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) var(--spacing-medium);
}
.how-it-works__trigger {
  background: none;
  border: none;
  color: var(--color-accent);
  cursor: pointer;
  font-weight: 500;
}

.how-it-works__trigger:hover,
.how-it-works__trigger:focus {
  color: var(--color-accent-light);
}

.how-it-works__description {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: var(--color-accent-light);
  margin: 0;
  padding-bottom: 1rem;
}

.how-it-works__description a {
  color: var(--color-accent);
}

.how-it-works__trigger:hover + .how-it-works__description,
.how-it-works__trigger:focus + .how-it-works__description, .how-it-works__description:hover {
  opacity: 1;
}